{% extends "admin/base.html.twig" %}

{% block leftSideBar %}
    <ul class="list-tab list-group">
        <li class="list-group-item list-group-item-action">
            <a href="{{ path('admin_customers') }}">Customers</a>
        </li>

        <li  class="list-group-item list-group-item-action">
            <a href="{{ path('admin_events') }}">Events</a>
        </li>

        <li  class="list-group-item list-group-item-action">
            <a href="{{ path('admin_comments') }}">Comments</a>
        </li>

        <li  class="list-group-item list-group-item-action">
            <a href="{{ path('index', {vueRouting: 'home'}) }}" target="_blank">Site</a>
        </li>

        <li  class="list-group-item list-group-item-action">
            <a href="{{ path('logout') }}">Logout</a>
        </li>

    </ul>
{% endblock %}
